@{
    ViewData["Title"] = "Home Page";
}

<br/>
<div class="jumbotron" style="background-image: url(images/back.jpg); background-size: 1200px 720px; background-position: top;">
    <div class="container">
        <h2>ASP.NET Core</h2>
        <p>This is a demo MVC web application, running in Docker</p>
        <p>
            <a class="btn btn-default btn-lg" href="https://www.microsoft.com/net/core">Yeah not bad!</a>
        </p>
        <img src="~/images/netcore.svg" height="48" width="48"/> + 
        <img src="~/images/docker.svg" height="48" width="48"/> + 
        <img src="~/images/azure.svg" height="48" width="48"/>
    </div>
</div>
