@page
@{
    ViewData["Title"] = "Dependency Test";
}
@using Microsoft.AspNetCore.Mvc.RazorPages
@using System.Net;
@using System.Net.Http;

@functions {
      public void OnGet()
      {
        var client = new HttpClient();
        var resp1 = client.GetAsync("https://functionstore2017.blob.core.windows.net/").Result;
        var resp2 = client.GetAsync("https://api.twitter.com/1.1/account/settings.json").Result;        
      }
}

<h2><span class="glyphicon glyphicon-random" aria-hidden="true"></span>&nbsp; @ViewData["Title"]</h2>

<div class="jumbotron transp sysinfo-box">
    <h3>Making backend HTTP calls to Azure Storage &amp; Twitter</h3>
</div>