@page
@{
    ViewData["Title"] = "Home Page";
}

<br/>
<div class="jumbotron transp">
    <div class="container">
        <h1>.NET Core Demo App</h1>
        <p>This is a demo web app written in ASP.NET Core 2.0 using Razor Pages &amp; Bootstrap</p>
        <p>Find my source on Github here: <a href="https://github.com/benc-uk/dotnet-demoapp">https://github.com/benc-uk/dotnet-demoapp</a></p>        
        <p>
            <a class="btn btn-success btn-lg" href="/About">System Info</a>
        </p>
        <hr/>
        <a href='https://www.microsoft.com/net/core#windowscmd'><img src="~/images/icon-core.svg" height="64" width="64"/></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href='https://azure.microsoft.com/en-gb/'><img src="~/images/icon-azure.svg" height="80" width="80"/></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href='https://www.docker.com/'><img src="~/images/icon-docker.svg" height="80" width="80"/></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href='https://code.visualstudio.com/'><img src="~/images/icon-vscode.svg" height="64" width="64"/></a>&nbsp;&nbsp;&nbsp;&nbsp;

    </div>
</div>
